.vs/
MonthlyPayments/bin/
MonthlyPayments/obj/
MonthlyPayments.Domain/bin/
MonthlyPayments.Domain/obj/
MonthlyPayments.FirebaseRepository/bin/
MonthlyPayments.FirebaseRepository/obj/
MonthlyPayments.Service/bin/
MonthlyPayments.Service/obj/